html{
    background-image: url("../resources/redwaterfall.gif");
    background-size: 2000px 10000px;
    background-position: center;
}

p, a, h1, h2 {
    text-shadow:1px 1px black;
}

header{
    width: max-content;
    align-content: center;
}

header nav{
    align-content: center;
}

header li {
    display: inline-block;
}

header a {
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
    color: white;
}

#iamroflmaoist {
    align-content: center;
    font-family: 'Orbitron', sans-serif;
    color :white;
    font-size: 5vw;
    text-align:center;
}

#iamroflmaoist img {
    filter: drop-shadow(5px 5px 5px black);
    max-width: 100%;
    width: 80vw;
    padding-bottom: 100px;
}

#aboutroflmaoist {
    display: block;
    font-family: 'Orbitron', sans-serif;
    color:white;
    font-size: 25px;
    text-align: center;
}

#aboutroflmaoist h2 {
    padding-bottom: 60px;
}

#aboutroflmaoist p{
    align-content: left;
    font-family: 'Orbitron', sans-serif;
    color:white;
    font-size: 20px;
}

#aboutroflmaoist img {
    filter: drop-shadow(5px 5px 5px black);
    max-width: 100%;
    width: 80vw;
}

#aboutroflmaoist img#main, img#dj {
    filter: drop-shadow(5px 5px 5px black);
    max-width: 100%;
    width: 65vw;
    padding-bottom:60px;

}

#aboutroflmaoist a{
    color: white;
}

#ps {
    display: block;
    font-family: 'Orbitron', sans-serif;
    font-size: 15px;
    text-align: center;
}
#ps p{
    align-content: center;
    font-family: 'Orbitron', sans-serif;
    color :white;
    font-size: 15px;
}