html{
    background-image: url("../resources/redwaterfall.gif");
    background-size: 50000px 50000px;
    background-position: center;
}

body{
    margin-top: 0;
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
}

body p{
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 40px;
    text-align: center;
    background-color: black;
    width: max-content;
}

html{
    background-image: url("../resources/redwaterfall.gif");
    background-size: 50000px 50000px;
    background-position: center;
}
